.Learn {
    display: flex;
}

.learn_left {
    flex: 1;
    padding-top: 15px;
}

.learn_right {
    flex: 5;
    background-color: #fff;
    margin-left: 1px;
}

.back_center{
    background-position: center;
}

.learn_hide{
    transition: all .5s ease-in-out;
    width: 0;
    overflow: hidden;
}

.task_detail{
    width: 250px;
}