.Tasks {
    height: calc(100vh - 220px);
    overflow: auto;
}

#addTask {
    background-color: #4b4645;
}

#plusIcon {
    cursor: pointer;
    color: white;
}

#plusIcon:hover {
    color: cyan;
}